#content_left h2 img{
	margin-left: 10px;
}
.message{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-indent: 2em;
	font-size: 20px;
	line-height: 35px;
	font-family: STXingkai ;
}
.input_name{
	width: 120px;
	height: 28px;
	font-size: 22px;
		border-radius: 8px;
}
.input_email{
	width: 240px;
	height: 28px;
	font-size: 22px;
		border-radius: 8px;
}
.input_sex{
	width: 20px;
	height: 20px;
}
.input_select{
	width: 70px;
	height: 34px;
	font-size: 18px;
	font-family: KaiTi ;
}
.name_msg{
	display: inline;
	color: 	#FF0000;
	font-size: 18px;
}
#message{
	margin-top: 20px;
	margin-left: 30px;
	line-height: 38px;
	font-size: 22px;
	font-family: KaiTi ;
}
#message textarea{
	width: 530px;
	border:1px solid #FF0000;
	height: 215px;
	margin-top: 15px;
	font-size: 20px;
	font-family: STXingkai ;
}
#message form button{
	width: 100px;
	height: 38px;
	font-size: 20px;
	margin-left: 200px;
	margin-top: 10px;
}







