*{
	margin: 0px;
	padding:0px;
}
body{
	padding: 0px;
	margin: 0px;
	background-color: #DCDCDC;
}
#head_first{
	height: 80px;
	background-color: #708090;
}
#head_logo{
	width: 1220px;
	margin: 0 auto;
}
#content{
	position: relative;
	-webkit-column-width:317px;
	-moz-column-width:317px;
	-o-column-width:317px;
	-ms-column-width:317px;
}
.box{
	padding: 10px 0 0 15px;                /*不用margin而用padding*/
}
.pic{
	padding: 10px;
	border: 1px solid #D2B48C;
	border-radius: 5px;                     /*圆角*/
	box-shadow: 0 0 5px #FFFFFF;            /*阴影*/
	width: 280px;
}
.pic img{
	display: block;
	width: 280px;
	height: auto;
	opacity: 0.8;
	filter:alpha(opacity=80);        /*for IE8 and earlier*/
}
.pic img:hover{
	opacity: 1.0;
	filter:alpha(opacity=100);   
	border:1px solid #D2B48C;    /*for IE8 and earlier*/
}
/*
.pic:hover img{
	-moz-transform:scale(1,1);
	-webkit-transform:scale(1,1);
	-o-transform:scale(1,1);
	-ms-transform:scale(1,1);
}*/
#footer{
	height: 100px;
	background-color: #708090;
}
#footer_desc{
	width: 1220px;
	margin: 0 auto;
}
#footer_desc p{
	padding-top: 25px;
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
}


